*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.errorcontainer{
    width: 500vw;
    height: 500vw;
    background-image : url('https://th.bing.com/th/id/OIP.w6Z2A7RI2ycAzrDYLs-ekwHaFK?w=234&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7');
   background-repeat: no-repeat;
}
